[agent]
instanceid=7
groupid=5
clusterid=1
tmpdir=/tmp/agent
[log]
config=/etc/IMAgent/logging.cnf
section=normal

[database]
name=Mysql
attr_home=/usr/
attr_config=/etc/mysql/my.cnf
attr_user=root
attr_password=
attr_backupdir=/var/lib/mysql/backup

[monitors]
monitors=MasterStatusMonitor;TopSQLMonitor;SlaveStatusMonitor
interval_Active=300
interval_Sender=30
interval_SystemMonitor=20
interval_HearbeatMonitor=20
interval_MasterStatusMonitor=20
interval_TopSQLMonitor=20
attr_MasterStatusMonitor_average=Com_select;Com_update;Com_delete;Com_insert;Com_commit;Queries;Questions;Bytes_received;Bytes_sent
attr_SlaveStatusMonitor_average=
attr_TopSQLMonitor_topn=20
attr_TopSQLMonitor_fields=COUNT_STAR
replace=os.disk.vda|sd_sys;os.disk.vda|sd_data;os.disk.vda|sd_log;disk.partition./dev/sdc1|sdp_data
ignore=os.disk.sdd

[rabbitmq]
managerip=rabbitmq
rmqport=5672


